.modal-change-password {
  .custom-is-invalid {
    border: 1px solid red;
  }

  .password-input {
    position: relative; // Để có thể định vị icon eye trong ô input

    .password-toggle {
      position: absolute;
      right: 20px; // Điều chỉnh khoảng cách từ biên phải của input
      top: 65%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}