.countdown-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Điều chỉnh độ mờ tại đây */
  z-index: 1;
  backdrop-filter: blur(1px); /* Điều chỉnh độ mờ tại đây */
}

.countdown-position-absolute {
  z-index: 2; /* Đảm bảo phần nội dung ở trên lớp phủ */
}

@media (max-width: 768px) {
  .countdown-content .text-center h2 {
    font-size: 3rem !important;
  }
  .countdown-content .text-center span {
    font-size: 1.5rem !important;
  }
  .countdown-content .text-center div {
    font-size: 3rem !important;
  }
  .countdown-content .text-center div:nth-child(2) {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 576px) {
  .countdown-content .text-center h2 {
    font-size: 2rem !important;
  }
  .countdown-content .text-center span {
    font-size: 1rem !important;
  }
  .countdown-content .text-center div {
    font-size: 2rem !important;
  }
  .countdown-content .text-center div:nth-child(2) {
    font-size: 1rem !important;
  }
}