.address-modal {
  .modal-body {
    max-height: 60vh;
    overflow-y: auto;
    padding-right: 1rem;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}


@media (max-width: 576px) {
  .address-modal {
    .modal-dialog {
      max-width: calc(100% - 50px);
      margin: 0 auto;
    }
  }
}