.product-display {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  height: 100%;

  .btn-wishlist {
    background: transparent;
    margin-bottom: 7px;
    border: none;
    color: #1178f2;
    border-radius: 50%;
    transition: all 0.3s ease;
    overflow: hidden;

    &:hover {
      color: #0c5db3;
      transform: translateY(-5px);
    }
  }

  .price-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;

    .original-price {
      color: #888;
      text-decoration: line-through;
    }

    .sale-price {
      color: #e44d26;
    }

    &.on-sale {
      .original-price {
        font-size: 16px;
        font-weight: normal;
      }
    }
  }

  .sizes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    span {
      margin-right: 10px;
      margin-bottom: 10px;
      display: flex;
      width: 35px;
      height: 35px;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      border: 1px solid #c5c5c5;
      transition: border-color 0.3s ease, color 0.3s ease;
      font-size: 16px;
      border-radius: 4px;

      &:hover {
        border: 1px solid #1178f2;
      }

      &.active {
        color: #1187f2;
        border: 2px solid #1187f2;
      }

      &.disabled {
        opacity: 0.3;
        cursor: not-allowed;

        &:hover {
          border: 1px solid #c5c5c5;
        }
      }
    }
  }

  .colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .color-option {
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 1px solid #c5c5c5;
      transition: border-color 0.3s ease;
      border-radius: 4px;

      &:hover {
        border: 1px solid #1178f2;
      }

      &.active {
        border: 2px solid #1178f2;
      }

      &.disabled {
        opacity: 0.3;
        cursor: not-allowed;

        &:hover {
          border: 1px solid #c5c5c5;
        }
      }

      img {
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        margin-right: 5px;
        object-fit: cover;
        border-radius: 4px;
      }

      p {
        margin: 0;
        font-size: 16px;
      }
    }
  }

  .btn-add-cart {
    @media(max-width: 360px) {
      margin-bottom: 10px;
    }
  }
}