.table-post {
  max-height: 68vh;
  overflow-y: auto;

  .on-top {
    position: sticky;
    top: 0;
  }
}

.content-post {
  .rdw-link-modal {
    height: 250px !important;
    .rdw-link-modal-target-option {
      margin-right: 160px !important;
    }
    .rdw-link-modal-btn {
      height: 50px !important;
    }
  }

  .rdw-embedded-modal {
    height: 250px!important;
    .rdw-embedded-modal-btn {
      height: 50px!important;
    }
  }

  .rdw-image-modal {
    height: 250px!important;
    .rdw-image-modal-btn {
      height: 50px!important;
    }
  }
}

@media (max-width: 576px) {
  .modal-post {
    .modal-dialog {
      max-width: calc(100% - 50px);
      margin: 0 auto;
    }
  }
}