.voucher-page {
  .voucher-list {
    .voucher-card {
      transition: all 0.3s ease;
      border: none;
      box-shadow: 0 0 10px rgba(136, 136, 136, .3);

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
      }

      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 1.5rem;
      }

      .voucher-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem !important;

        svg {
          color: #1178f2;
        }
      }

      .voucher-info {
        text-align: center;
        margin-bottom: 1rem;

        h3 {
          margin: 0;
          font-size: 1.2rem;
          font-weight: bold;
          color: red;
        }

        p {
          margin: 0;
          &.code {
            font-size: 1rem;
            font-weight: bold;
            color: #1178f2;
          }
        }

        .date {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .usage-bar {
        height: 6px;
        background-color: #e9ecef;
        border-radius: 3px;
        overflow: hidden;
        margin-bottom: 0.5rem;

        .usage-progress {
          height: 100%;
          background-color: #66bb6a;
          transition: width 0.3s ease;
        }
      }

      .usage-text {
        font-size: 0.8rem;
        color: #757575;
        text-align: center;
        margin-bottom: 1rem;
      }

      .voucher-btn {
        display: flex;
        justify-content: center;
        gap: 10px;

        @media (max-width: 576px) {
          flex-direction: column;
          align-items: center;
        }

        button {
          flex: 1;
          max-width: 50%;
          background-color: #1178f2;
          color: white;
          border: none;
          padding: 0.5rem 1rem;
          border-radius: 4px;
          font-size: 0.9rem;
          transition: background-color 0.3s ease;

          @media (max-width: 576px) {
            max-width: 100%;
            width: 100%;
          }

          &:hover {
            background-color: #3b74d6;
          }

          &.saved, &.used {
            background-color: #ccc;
            cursor: not-allowed;
          }
        }

        &:only-child {
          button {
            max-width: 100%;
          }
        }
      }
    }
  }
}
