.search-home {
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
  .banner-section {
    .banner-content {
      p {
        margin-bottom: 70px;
      }
      ul {
        list-style: none;
        padding: 0;

        li {
          background-color: white;
          border-radius: 5px;
          margin-bottom: 10px;
          transition: all 0.3s ease;

          &:hover {
            transform: translateY(-3px);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}