.page-sign-up {
  .custom-is-invalid {
    border: 1px solid red;
  }

  .password-input {
    position: relative; // Để có thể định vị icon eye trong ô input

    .password-toggle {
      position: absolute;
      right: 10px; // Điều chỉnh khoảng cách từ biên phải của input
      top: 68%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  .custom-button {
    transition: border-color 0.3s ease; // Hiệu ứng chuyển đổi màu sắc viền
    border: 1px solid #ccc; // Mặc định viền trong suốt
    padding: 10px 20px; // Điều chỉnh padding cho phù hợp với nội dung
    background-color: transparent;

    &:hover {
      border-color: #007bff; // Màu sắc viền khi hover
    }

    .social-icon {
      width: 25px; // Điều chỉnh kích thước của icon nếu cần thiết
      margin-bottom: 3px;
      margin-right: 5px; // Điều chỉnh khoảng cách giữa icon và văn bản nếu cần thiết
    }
  }
}