.table-voucher {
  max-height: 68vh;
  overflow-y: auto;

  .on-top {
    position: sticky;
    top: 0;
  }
}

@media (max-width: 576px) {
  .modal-voucher {
    .modal-dialog {
      max-width: calc(100% - 50px);
      margin: 0 auto;
    }
  }
}