.password-input {
  position: relative; // Để có thể định vị icon eye trong ô input

  .password-toggle {
    position: absolute;
    right: 10px; // Điều chỉnh khoảng cách từ biên phải của input
    top: 68%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}